.MediaPostList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: calc(100% - 2%);
  /* overflow: hidden; */
}

.MediaPostList li {
  height: auto;
  max-height: 30vh;
  min-width: 30%;
}


