.MediaPost h3 {
  text-transform: uppercase;
  color: rgb(44, 42, 42);
}
.MediaPost h3:hover {
  color: rgb(92, 87, 87);
}

.PopImageHide {
  display: none;
  z-index: 0;
  opacity: 0;
}

.PopImageShow {
  display: block;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 19, 19, 0.9);
  z-index: 10;
  position: absolute;
  animation: fadeIn 1s;
  -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
    top: 0;
    left: 0;
}

.PopImageShow img {
 /* max-height: 90%; */
 max-width: 90%;
  position: relative;
 /* margin: 5% 0 0 0; */


}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
